[user]
  name = Sam Tolmay
  email = sam@lowdefy.com

[github]
  user = SamTolmay
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
