[user]
	name = Sam Tolmay
	email = samtolmay@gmail.com

[github]
  user = SamTolmay
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
