[user]
	name = SamTolmay
	email = samtolmay@gmail.com

[github]
  user = SamTolmay
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
